* {
	box-sizing: border-box;
}

body {
	margin: 0;
	width: 100%;
	height: 100%;
	font-family: sans-serif;
	font-size: 16px;
	color: rgba(0,0,0,0.33);
}

.loader {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 100;
}

.loader img {
	width: 150px;
	height: 150px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.header,
.container
{
	max-width: 500px;
	width: calc(100% - 100px) !important;
	left: 50%;
	transform: translate(-50%, 0);
}

.header {
	height: 50px;
	position: fixed;
	z-index: 2;
	top: 50px;
}

.logo {
	height: 25px;
	opacity: 0.33;
	margin-left: 10px;
	position: absolute;
	top: 0;
	left: 0;
}

.logo.line {
	opacity: 0;
}

.icon {
	width: 50px;
	height: 50px;
	position: absolute;
	right: 0;
	top: -10px;
}

.icon.flat,
.icon.line.white
{
	opacity: 0;
}

.header:hover .icon.flat {
	opacity: 1;
}

.breakpoint .logo {
	opacity: 0;
}

.breakpoint .logo.line {
	opacity: 1;
}

.breakpoint .icon.line {
	opacity: 0;
}

.breakpoint .icon.line.white {
	opacity: 1;
}

.container {
	height: 100%;
	top: 100px;
	position: absolute;
}

.section {
	width: 100%;
	display: flex;
	opacity: 0;
	transition: opacity 0.1s;
}

.section.info {
	padding: 10px;
}

.section.fill {
	flex: 1 1 0;
}

.section.fill.double {
	flex: 2 1 0;
}

.half-height {
	height: 50%;
}

.full-height {
	height: 80%;
}

.vertical {
	flex-direction: column;
}

.tile {
	background-color: blue;
	background-image: url('https://68.media.tumblr.com/6ebbfaff5af4a61b043c970b46186206/tumblr_olom96wQBV1w1rpjto4_1280.png');
	background-size: cover;
	background-position: center;
	flex: 1 1 auto !important;
	margin: 0 10px 10px 0;
	position: relative;
	color: rgba(0,0,0,0);
	overflow: hidden;
}

.tile.rect-2x1 {
	flex: 0 1 auto !important;
}

.tile:last-child {
	margin-right :0;
}

.tile::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	background: rgba(0,0,0,0.33);
	transition: opacity 0.2s;
}

.tile:hover::after {
	opacity: 1;
}

.margin-right {
	margin-right: 10px;
}

.tile-inner {
	position: absolute;
	opacity: 0;
	z-index: 3;
	width: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, calc(-50px - 50%));
	color: white;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	transition: opacity 0.2s, transform 0.2s;
	text-align: center;
}

img.tile-inner {
	width: calc(100% - 20px);
	max-width: 100px;
}

.tile:hover .tile-inner {
	opacity: 1;
	transform: translate(-50%, -50%);
}

@media screen and (min-width: 720px) {
	.half-height,
	.full-height
	{
		height: unset;
	}

	.header,
	.container
	{
		max-width: 720px;
		width: calc(100% - 200px) !important;
	}

	.header {
		top: 75px;
	}

	.icon {
		left: -70px;
	}

	.container {
		height: calc(100% - 250px);
		margin-top: 50px;
		display: flex;
		flex-direction: column;
	}

	.section {
		flex: 0 1 auto;
	}

	.section.area {
		width: calc(50% - 5px);
	}

	.section.break {
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
	}
}

@media screen and (min-width: 1920px) {
	.container {
		font-size: 18px;
	}

	.header,
	.container
	{
		max-width: 810px;
		width: calc(100% - 200px) !important;
	}
}